*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* border-radius: ; */
  color: #213547;
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  min-height: 100vh; /* full viewport height */
  margin: 0;
  cursor: none;
}


*::-webkit-scrollbar{
  display: none;
}

.cursor-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.cursor-ring {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out;
  z-index: 9998;
}